.all-background {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}
.all-item-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 1.5rem 0px;
}
.all-item {
  width: 20vw;
  transition: all 0.3s ease-out;
}
.all-product-icon {
  width: 70%;
  margin-bottom: 0.5rem;
}
.all-product-name {
  font-size: 1rem;
  text-align: center;
  margin: 0.2rem 0;
}
.all-product-badge {
  font-size: 0.8rem;
  text-align: center;
  border: 1px solid rgb(148, 251, 86);
  padding: 0.3rem 0.6rem;
  border-radius: 3rem;
  margin: 0.2rem 0;
}
.all-product-caption {
  font-size: 0.8rem;
  text-align: center;
  margin: 0.2rem 0;
}
.all-explanation-container {
  width: 100%;
  padding: 3rem;
  padding-bottom: 100px;
  display: flex;
  align-items: flex-start;
}

/* only PC */
@media (min-width: 940px) {
  .all-item:hover {
    transform: scale(1.1);
  }
}

/* only Mobile */
@media (max-width: 747.98px) {
  .all-item {
    width: 50vw;
    transition: all 0.3s ease-out;
  }
  .all-product-icon {
    width: 80%;
  }
}
