.data-background {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background: rgb(0, 0, 0); */
  overflow: hidden;
}
.data-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.data-main-container {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.p5-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.p5-text-container {
  z-index: 10;
  display: flex;
  width: 100vw;
  height: calc(1vh * 100 - 10rem);
  padding-top: 12rem;
}
.data-message-container {
  position: fixed;
  bottom: 0;
  width: 50%;
  padding-bottom: 5rem;
  z-index: 100;
}
.data-input-container {
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
  border-radius: 0px;
}
.data-selector-container {
  width: 100%;
  /* margin-top: 0.5rem; */
  gap: 1rem;
}
.data-message-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(148, 251, 86);
  min-width: 15rem;
  font-size: 1.1rem;
  backdrop-filter: blur(7px) saturate(150%);
  color: white;
  padding: 0.5rem 0.5rem;
}
.data-message-button {
  border: 1px solid rgb(148, 251, 86);
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  backdrop-filter: blur(7px) saturate(150%);
}
.data-message-button:active {
  opacity: 0.6;
}
.data-color-picker {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1px solid white;
}
.memo-list-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 1.5rem 0px;
  padding-bottom: 350px;
}
.memo-container {
  width: 20vw;
  height: auto;
}
.memo-object {
  width: 50%;
  height: 50%;
  background-color: rgb(148, 251, 86);
  border-radius: 100px;
}
@keyframes arrowAnim {
  0% {
    opacity: 0.7;
    transform: translateY(0);
  }
  50% {
    opacity: 0.2;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.data-arrow-container {
  position: fixed;
  padding-bottom: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  animation: arrowAnim 2s ease-in-out infinite;
}
.palette-back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(7px);
}
.palette-container {
  /* background-color: black; */
  padding: 3rem 2rem;
  z-index: 400;
}
@media (max-width: 747.98px) {
  .data-interaction-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .data-input-container {
    flex-direction: column;
  }
  .data-message-button {
    width: 100%;
  }
  .data-message-input {
    width: 100%;
  }
  .memo-container {
    width: 33.33vw;
  }
}
@media screen {
  .data-message-button:hover {
    /* opacity: 0.6; */
  }
}
