/* @import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

.nanumgothiccoding * {
  font-family: “Nanum Gothic Coding”, monospace;
}

@font-face {
  font-family: “IBMPlexSansKR-ExtraLight”;
  src: url(“https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff”)
    format(“woff”);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: “Pretendard-Regular”;
  src: url(“https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff”)
    format(“woff”);
  font-weight: 400;
  font-style: normal;
} */

#root {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: black;
}

a,
button {
  text-decoration: none;
}

a {
  color: currentColor;
  background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pointer {
  cursor: pointer;
}
.act {
  display: flex;
  align-items: center;
}
.jct {
  display: flex;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: column;
}
.f-bold {
  font-weight: 700;
}
.fc-white {
  color: white;
}
.fc-primary {
  color: rgb(148, 251, 86);
}
.fs-h1 {
  font-size: 1.5rem;
}
.fs-c1 {
  font-size: 0.5rem;
}

.main {
  /* padding-top: calc(3.75rem + 1px); */
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

section {
  padding: 0;
  width: 100%;
  margin: calc(-3.75rem - 1px) 0 0;
  height: calc(1vh * 100);
  min-height: calc(1vh * 100);
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(108, 190, 46);
  background-color: rgba(0, 0, 0, 0.4);

  padding: 0.5rem 1rem;
  backdrop-filter: blur(7px) saturate(150%);
}
.header-inner {
  flex-direction: column;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header-right-menu {
  right: 0;
  position: absolute;
}
.header-logo {
  display: block;
  line-height: 1;
  padding: 0.5rem;
  letter-spacing: -0.05em;
  font-size: 1.75rem;
}

.footer-container {
}

.footer-left-menu {
  padding: 0.5rem 0.5rem;
  backdrop-filter: blur(4px) saturate(150%);

  z-index: 100;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
}
.footer-right-menu {
  padding: 0.5rem 0.5rem;
  border: 1px solid rgb(108, 190, 46);
  backdrop-filter: blur(4px) saturate(150%);

  z-index: 100;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

input:focus {
  outline: none;
}

/* only PC */
@media (min-width: 940px) {
  body {
    font-size: 20px;
  }
}

/* only Tablet */
@media (max-width: 939.98px) {
  body {
    font-size: 16px;
  }
}

/* only Mobile */
@media (max-width: 747.98px) {
  body {
    font-size: 12px;
  }
  .home-header-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .footer-container {
    backdrop-filter: none;
  }
}
